*{
    margin: 0;
    padding: 0;
    box-sizing: border-box}

:root{

    --brand-color-light:#60A5FA;
    --brand-color-dark:#1D4ED8;
    --bg-color:#0F172A;
    --stroke-color:#1E293B;
    --text-color-primary:#F1F5F9;
    --text-color-secondary:#CBD5E1;


    --font-family: "Archivo", sans-serif;
    --h1:800 24px/135% var(--font-family); 
    --h2:800 16px/140% var(--font-family);
    --h3:800 14px/140% var(--font-family);
    --span:600 14px/145% var(--font-family);
    --text:400 16px/140% var(--font-family);
    --text-sm:400 14px/160% var(--font-family);

}
body{
    /* fonte aplicar no body quando for aplicar em todos  */
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
    
}
a{
    text-decoration: none;
    /* o inherit e pra herda a cor q ta no body */
    color: inherit;
}


a:hover{
    color: var(--brand-color-light);
}



h1,h2,h3{
    /* ta herdando a fonte q esta dentro do body */
    font: inherit;
}

/* pra  respeitar a largura maxima da caixa q vc esta trabalhando  */
img{
    max-width: 100%;
}

.container{
    /* pra definer alargura maxima do bloco  */
    max-width: 1280px;
    /* definir o eixo horizontal  do bloco */
    padding-inline:32px ;
    /* para definir as margens laterais */
    margin-inline: auto;

}
/* definir a aultura da main */
main{
    margin-top: 40px;
}

.tag{
    /* aqui ta definindo o span  */
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px;
    border-radius: 4%;
    /* difinindo a font */
    font:500 10px/1.2 var(--font-family);
    /* definindo os estilos das lestra pra fica maiuscula */
    text-transform: uppercase;
    /* definindo os espacamenteo das letra */
    letter-spacing: 0.04em;
    
    /* pra dar sobreamento na caixa */
    box-shadow:0px 4px rgba(2,6, 23, 0.23);
    /* 1 faz um posicionamento a direita heixo horizontal*/
    /* 2 faz um posicionamento em baixo heixo vertical */
    /* 3 pra fazer um borramento  */
    /* 4 definir a cor */
}