
/* vai ler todo header q tiver dentro do section */
section header{
    border-top: 1px solid var(--stroke-color);
    /* pra definir espacamento interno */
    padding-block: 12px 24px;
    font: var(--span);

    /* pra colocar as img em cada A q estiver dentro do header */
    a{

        align-items: center;
        justify-self: end;
        gap:16px;

        span{
            /* aqui estou add a setinha */
        background-image: url(../assentes/ArrowRight\ \(4\).svg);
       

            height: 16px;
            width: 16px;

        /* pra quando passa o mause encima ficar azul */
        &:hover span{
            background-image: url(../assentes/icones/ArrowRight\ \(3\).svg);

           
        }

    }
        
    }
    

}

#feat{ 

    /* tem q definir aqui o grid area pra funcionar direito usando o grid-templat-area la no main */
    grid-area: feat;


    /* vai obeserva todas img dentro do feat*/
    img{
        /* deifinindo altura */
        height: 100%;
        /* faz a cobertura de todo espaco q esta sobrando  */
        object-fit: cover;
       
    }

    .cardd{

        /* pra da uma aredondada nas bordas das img */    
        border-radius: 4px;

        /* tem q por pra ficar encima so da img */
        position: relative;

        

        /* serve pra esconder tudo q passa da caixa */
        overflow: hidden;

     
        


    /* o "&" seria a mesma coisa de fazer .card::before */

    /* o before e pra por conteudo decorativo antes do conteudo pricipal*/

        &::before{

            /* pra criar um elenento html no css precisa term o content  */
            content: "";

            /* posicao */
            position: absolute;

            /*  */
            inset: 0;
            

            /* pra definir ate qual altura vai ficar a cor ou alguma outra coisa na img */
            top: 50%;
            

            /* pra deixa uma cor ou alguma coisa em degrader */
            /* 1 pra fala a agulacao q eu quero
            2 falo a cor q eu quero
            3 falo a outra cor*/
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%

            );
        }
   
        
        figcaption{
            /* pra deixa a posicao do figcaption acima  */
            position: absolute;
            bottom: 0;

            padding: 24px;

            /* pra olhar o filho q da dentro do figcaption */
            &:has(.text-lg){
                padding: 12px ;
            }

            h2{
                margin-top: 8px;
            }


        }

    }

 

}
#weekly{
    
     /* tem q definir aqui o grid area pra funcionar direito usando o grid-templat-area la no main */
    grid-area: weekly;

    

    /* margin-top: 80px; */
    /* vai pegar a primeria div */
    &>div{
        grid-template-columns: repeat(4,292px)

    }


    img{
        height: 160px;
    }

    figure{
        
        position: relative;

        .tag{
            position: absolute;
            top: 8px;
            left: 8px;
        }
        p{
            margin-top: 8px;
            font-weight:800;
        }
    }
 
}

.ai{
    /* tem q definir aqui o grid area pra funcionar direito usando o grid-templat-area la no main */
    grid-area: ai;
        img {
            height: 176;

            /* faz a img ficar quadrada basicamente perfeito/ efinir e manter automaticamente a proporção de largura e altura de um elemento */
            aspect-ratio: 1/1;

            /* pra cobri toda a area da img */
            object-fit: cover;

        }
        h3{
            /* definifndo a altura pra baixo e cima de separamento do h3 */
            margin-block:8px 4px ;
        }

}
aside{
     /* tem q definir aqui o grid area pra funcionar direito usando o grid-templat-area la no main */
    grid-area: aside;


}
#more{
    margin-top: 32px;
    /* definindo o tamanho do espacamenmtno do h3 */
    h3{
        margin-top: 8px;
    }
    /* definindo o tamnho das img do more*/
    img{
        height: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }


}