#feat{
    /* vai obeserva todas img dentro do feat*/
    img{
        /* deifinindo altura */
        height: 100%;
        /* faz a cobertura de todo espaco q esta sobrando  */
        object-fit: cover;
        /* pra da uma aredondada nas bordas das img */
        border-radius: 4px;
        
    }
}