/* pra cria as utilidade */


/* indentificar o display */
.grid{
    display: grid;
}

/* defenir q vai ser um coluna */
.grid-flow-col{
    grid-auto-flow: column;
   
}

/* vai definir quantas colunas vai ter */
.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}


.gap-16{
    gap: 16px;
}