/* pra cria as utilidade */


/* indentificar o display */
.grid{
    display: grid;
}

/* defenir q vai ser um coluna */
.grid-flow-col{
    grid-auto-flow: column;
   
}

/* vai definir quantas colunas vai ter */
.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}

.gap-32{
    gap: 32px;
}
.gap-16{
    gap: 16px;
}
/* definir as fontes pra por na class */
.text-2xl{
    font: var(--h1);
}
.text-xl{
    font: var(--h2);
}
.text-lg{
    font: var(--h3);
}
.text-sm{
    font: var(--text-sm);
}
